<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_VERSION</key>
	<string>$(APP_VERSION)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>192.168.18.110</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>nl</string>
	</array>
	<key>EXAMPLE_KEY</key>
	<string>$(EXAMPLE_KEY)</string>
	<key>INIntentsSupported</key>
	<array>
		<string>Intent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Regular.otf</string>
		<string>Inter-Bold.otf</string>
	</array>
</dict>
</plist>
